[2021-03-23 12:53] jdebacker opened #4 "Use black for code formatting?"
Since this repo is in early stages, it might be a good time to decide to use `black` or not.  Opinions?

cc @rickecon @jpycroft @nikhilwoodruff

[2021-03-23 16:24] jpycroft commented on #4
Hi Jason, no strong view, but I'd edge towards black. Jon

cc @rickecon @jdebacker  @nikhilwoodruff

[2021-03-23 16:56] rickecon commented on #4
Let's definitely use black for this repository. Great place to start building it in (e.g., new code base, less legacy code that might get changed).

[2021-03-23 18:03] nikhilwoodruff commented on #4
Yep, FWIW Black has a thumbs up from me!

[2021-03-27 00:48] jdebacker commented on #4
Resolved in PR #5

[2021-03-27 00:48] #4 closed

[2021-04-18 16:19] rickecon opened #8 "Set up codecov"
Need to:
* Put `codecov.yml` in the GitHub actions folder
* Set up webhook in Settings tab
* Set up secret in Settings tab
* Add `OG-UK-Calibration` to PSLmodels codecov.io registration

@jdebacker

[2021-04-21 15:24] rickecon commented on #8
@jdebacker makes a strong case for waiting to add this until the repository is a little more mature.

[2021-04-21 15:27] rickecon opened #9 "Move ogusa/parameter_plots.py to og_uk_calibrate/parameter_plots.py"
PR #2 uses `ogusa/parameter_plots.py` in the `txfunc.py` module. PR #3 creates a `parameter_plots.py` file in the `og_uk_calibrate/` directory. We should make all parameter plots go through the `og_uk_calibrate/` directory so that file can be modified for each country.

@jdebacker

[2021-04-21 16:04] jdebacker commented on #9
@rickecon This is worth some discussion, I think.

Since each calibration repo needs to put parameters in the same format (so they can be input into OG-MOD) and since OG-USA (soon to be OG-MOD) will be a dependency of each OG calibration repo, would it be helpful to avoid duplicate code keeping the parameter plots with OG-MOD?

This issue of duplicated code comes up in other places too:  e.g., `tx

[2021-04-21 16:10] jdebacker commented on #9
Ah, I see an issue with some of the parameter plots.  When you plot the data, it maybe in a different format (e.g., in `demographics.py`, the fertility rates maybe measured with different frequency in the underlying data).  So while one can plot the parameters the same across models, to plot the data with the parameters may be more custom.

Still, there may be a way around this (e.g., passing an m

[2021-04-21 16:14] jdebacker commented on #8
@rickecon You can see in PR #2 that codecov reports are already being generated and shown in the conversation.  I think this solution could could well, i.e., show coverage reports in PR conversations, but don't have a codecov check as in OG-USA that gives the red X on the PR checks.  It's that red X that I wanted to avoid here as I don't like merging PRs with them, but it may be hard to start with

[2021-04-21 16:15] rickecon commented on #9
@jdebacker The principle you outline is correct. All functions that are common across countries should be centralized in OG-MOD. In the case of `parameter_plots.py`, I think it is likely that this will not be common across countries. However, if it is common across country calibrations, it will be easy to transfer it out of the country calibration repos into the central OG-MOD repo. But a module s

[2021-04-21 16:18] rickecon commented on #8
@jdebacker I agree that we should add the codecov CI check later as the repo is more mature. However, we should really do it in a way that does not require 100% coverage. This is something that I am sure we can figure out. But I am happy to push this until later.

[2021-04-22 18:53] rickecon opened #10 "Question about fertility data in demographics.py"
@jpycroft In your PR #3, the `get_fert()` function in `demographics.py` downloads fertility data for the U.K. from EuroStat. When I download the `demo_fasec` dataset as you do in your `get_fert()` function, I get the following variables of interest: `SEX`, `AGE`, and `2018`.
* I assume the values in the `2018` variable are numbers of live births.
* I assume that `SEX` is the gender fo the baby.
*

[2021-04-23 04:20] jpycroft commented on #10
@rickecon
Rick, yes, that's right.
The dataset is:
  "Live births by mother's age and newborn's sex [DEMO_FASEC]"
The data are given by year with 2018 being the most recent year for the UK.

Further details available from the Eurostat page:
  https://appsso.eurostat.ec.europa.eu/nui/show.do?dataset=demo_fasec&lang=en

[2021-04-23 05:42] #10 closed

[2021-04-24 23:43] rickecon opened #12 "Reintroduce Python 3.9 testing in build_and_test.yml"
PR #11 incorporates updates to the OpenFisca-UK package into `get_micro_data.py` and the corresponding tests. For some reason, the updates in that PR caused the code to fail the Python 3.9 tests in `build_and_test.py`. As a result, PR #11 removed the Python 3.9 tests. We should figure out what the cause of these errors are and reintroduce the Python 3.9 testing requirement.

cc: @jdebacker @nikhil

[2021-04-26 00:23] jdebacker commented on #12
PR #2 also failed on 3.9.  It looks like it had to do with the tax function estimation finding slightly different parameter values when using the later version of Python:

[code]

One solution would be to set the tolerance for `np.allclose` to something other than the default.  One would want to be careful with this, though, as some parameter estimates are pretty small, so using a relative toleran

[2021-05-18 13:02] jpycroft opened #17 "get_imm_resid - data issues"
@jdebacker @rickecon

This issue has been copied over from https://github.com/jpycroft/OG-UK-Calibration/issues/2 to have it on the main repository.

As a number of data issues arose when producing the get_imm_resid function within demographics.py, I'm starting this issue to keep a record of them and to allow others to comment on the decisions taken.

The production of net immigration rates, imm_r

[2021-06-08 03:35] jdebacker opened #20 "Change directory and environment names"
Given the renaming of this repo to OG-UK, directories, environments, and package names should also drop the "calibrate".

[2021-06-10 08:22] jpycroft opened #21 "OG-UK set up"
@rickecon @jdebacker @nikhilwoodruff

I'm starting an issue to try to resolve my set up issues and to keep a record which may help others.

First, creating the oguk-calibrate-dev environment from the yml file gives a litany of errors. Basically, the dependencies loaded fine, but the pip install commands ran into a series of problems.

I was able to pip install the packages separately as follows:
$

[2021-06-10 08:28] nikhilwoodruff commented on #21
Hmm, I tried this yesterday and (commenting out OG-USA) ```conda env create -f environment.yml``` seemed to run OK for me. I wonder what's causing your permissions error. Also, I think we can remove ```frs``` from the requirements (and once I get this running I can rewrite some of the openfisca-uk code to not require ```openfisca_core```). But from your description, I'm thinking that maybe this er

[2021-06-10 15:15] jpycroft commented on #21
Thanks @nikhilwoodruff !

I tried your suggestion, installing openfisca-core, after having opened the oguk-calibrate-dev environment.
(oguk-calibrate-dev) C:\Users\jonat\repos\OG-UK-Calibration>python -m pip install --user git+https://github.com/nikhilwoodruff/openfisca-core

This time, well, actually I got a massive litany of errors. I'm looking in why that happened, but unfortunately, I'm not qu

[2021-06-10 17:18] nikhilwoodruff commented on #21
Seems like the error happens when it tries to install numpy as an openfisca-core dependency. Not 100% sure but maybe it's something to do with the --user option, but I don't know why it fails without that. Also thanks for the pathlib comment - I think I need to add that to the dependency list, didn't realise it wasn't a built-in module.

[2021-06-22 16:31] MrColdBeverage commented on #21
I've run into a similar error. When running the `conda env create -f environment.yml` line I got an error ending with "CondaEnvException: Pip Failed". When I scrolled up I noticed a line that said the following:

"No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils error: Microsoft Visual C++ 14.0 is required. Get it with "Build Tools for Visual Studio": https

[2021-06-22 17:00] jpycroft commented on #21
@rickecon @jdebacker @nikhilwoodruff @MaxGhenis @MrColdBeverage

Continuing with attempts to get OpenFisca to install on Windows, this time with help from Rick.

Below is the conda output from trying to install with the following command:
`(oguk-calibrate-dev) C:\Users\jonat\repos\OG-UK-Calibration>pip install --user git+https://github.com/nikhilwoodruff/openfisca-core`

It's a huge litany of erro

[2021-06-22 17:44] jdebacker commented on #21
In PR #22, I add a matrix to test on both Linus and Windows.  Given the reports above, the Windows tests failed as expected.  Looking at the build logs, it appears it has to do with the installation of OpenFisca-core:

[code]

Can a Windows user just try to `pip install git+https://github.com/nikhilwoodruff/openfisca-core` and see if this builds?  What about with the `--user` option (note that you

[2021-06-22 17:53] jdebacker commented on #21
Another few thoughts:
1. Try to build the environment without the pip installs - does that build without error?
2. Once build without the pip installed, can you manually install each of the pip installed with, e.g., `pip install git+https://github.com/PSLmodels/openfisca-uk`?  (Windows users may need to add the `--user` option?
3. If (2) doesn't work, you can clone the repos for each of the pip in

[2021-06-22 19:34] rickecon commented on #21
@hdoupe suggested trying the manual install approach for `openfisca-uk` for the `pip` packages that does not install any of the dependencies:
[code]
Note that we might need to use the --user option still.

@jpycroft @nikhilwoodruff @MrColdBeverage @jdebacker @MaxGhenis

[2021-06-23 08:16] jpycroft commented on #21
@jdebacker @rickecon @hdoupe

Thanks all for the suggestions! I'm travelling today and tomorrow, but I'll try them out on Friday.

[2021-06-23 14:31] hdoupe commented on #21
@jdebacker Just noting that I played with this some and still am not quite sure how it interacts with `conda` environments. The warning message is definitely confusing...I'm curious to hear whether it helps with this build problem.

[2021-06-25 17:05] jpycroft commented on #21
@jdebacker @hdoupe @rickecon

Hi Jason, Hank, Rick,

Jason,
to respond to your first two questions:

1. Yes. With the "pip installs" commented out, the environment loads without error.

2. Entering into the oguk-calibrate-dev environment, both of the following give many errors:
`pip install git+https://github.com/PSLmodels/openfisca-uk`
    or
`pip install --user git+https://github.com/PSLmodels/o

[2021-06-25 21:50] nikhilwoodruff commented on #21
@jpycroft - does it work if you manually install `dpath` etc? Also, does `pip install openfisca-core` (plain openfisca, non-fork) install OK? If it does, maybe I can build it in the same way that they have, since clearly this doesn't work on Windows, and make it installable from a wheel in the same way? Not entirely sure how to do that but I'm sure it's not too complex.

[2021-06-26 16:22] jpycroft commented on #21
@nikhilwoodruff - thanks! I tried a manual install of dpath, and got the following error message:

[code]
Basically, it claims that OpenFisca requires earlier versions of dpath, numpy, pytest, etc. I guess I could try downgrading, but I'm a little worried about downgrading say numpy or pytest ...

I also tried directly installing OpenFisca directly, i.e. `pip install openfisca-core`, which resulte

[2021-06-26 16:37] jpycroft commented on #21
@nikhilwoodruff
As a PS to the above, I tried to downgrade my numpy version, but it didn't work. Finally, it says:
[code]
The commands I tried were:
[code]
All had the same problem.
I still have numpy version 1.20.3 installed.

[2021-06-28 09:57] nikhilwoodruff commented on #21
@jpycroft I know it's not ideal, but since I think these errors are more warnings than errors, is it worth trying OG-UK even with slightly off requirements?

[2021-06-30 13:19] nikhilwoodruff opened #24 "Unable to solve the steady-state equilibrium"
@jdebacker @rickecon @jpycroft

Just thought I'd put this here for reference, as I haven't so far been able to get an error-free output. The only difference in my installation is that I commented out the OG-USA pip requirement in `environment.yml` and installed first from the repo for reasons described [here](https://github.com/PSLmodels/OG-USA/issues/732). I've now run the model with both the toy

[2021-06-30 15:54] nikhilwoodruff commented on #21
@jpycroft OK, still not sure about your library issues, but I compiled a wheel file for the openfisca-core fork that should work on both Windows and Linux. Could you let me know if this works:

[code]

instead of:

[code]

Thanks

[2021-07-01 14:02] jpycroft commented on #21
@nikhilwoodruff

Thanks Nikhil,

The install happened with some errors. I've attached the conda output for the install.

It _did_ install:

[code]
but then the output is missing 'labellines' (and possibly other modules):
[code]
Best,
Jon

[Conda_output_openfisca_install_errors_30jun2021.txt](https://github.com/PSLmodels/OG-UK/files/6748638/Conda_output_openfisca_install_errors_30jun2021.txt)

[2021-07-01 16:31] MaxGhenis commented on #21
@jpycroft could you try again? I just removed matplotlib-label-lines from microdf

[2021-07-01 20:03] jpycroft commented on #21
@MaxGhenis @nikhilwoodruff

Thanks Max!
Unfortunately, I still get basically the same problem.
I redid:
`pip install https://github.com/nikhilwoodruff/openfisca-core/raw/master/dist/OpenFisca_Core-35.0.0week-py3-none-any.whl`
Which gives a sea of red errors, though openfisca-core is there in the conda list.
And then trying to run run_og_uk.py still stops at "labellines". Full output below as txt.

[2021-07-02 17:14] nikhilwoodruff commented on #21
Thanks @jpycroft - feel free to correct me anyone but it seems from this and the above errors that this is an issue caused by:
1. the machine trying to install numpy
2. it building numpy from source (? not really sure why it's doing this, I don't think it should be)
3. failing to build because Microsoft Visual C++ Redistributable for Visual Studio 2015 is not installed, and so it can't compile the

[2021-07-02 21:42] nikhilwoodruff commented on #21
OK, another strange thing here: I just tried the same command you tried on my machine:
[code]

and got:

[code]

To the best of my knowledge all NumPy releases should be available on all platforms, so I think this supports the idea that this is due to a `wheel` package problem.

[2021-07-03 01:54] jdebacker commented on #21
I found an old Windows machine around the house that I had forgotten about.  Fresh install of Anaconda and I ran into the same issues noted above, so was able to replicate (took about 4 hours after `conda env create` before it got there, though).

Reading through the traceback, I began to wonder:
1. How much pinned dependency versions matter.  e.g., OG-USA and OG-UK have a hard pin on the desk ver

[2021-07-03 01:58] jdebacker commented on #24
@nikhilwoodruff Sorry to miss this.

There maybe some difference in the solvers used on your computer and what is run on GH Actions.

Often, you can get the SS to solve by changing the initial values, especially the interest rate.  To do this, modify line 70 of the `run_og_uk.py` script (`p.initial_guess_r_SS = 0.07`) to be some other value (e.g., 0.05 or 0.09).  You might focus on the toy data fi

[2021-07-03 11:12] nikhilwoodruff commented on #24
Hi Jason,

Thanks very much for this, it seems to have worked. (I changed the initial guess of the interest rate from 0.07 to 0.04, with the microdata and the errors were then all < 1e-10.

[2021-07-03 16:42] nikhilwoodruff commented on #24
Happy to say it did indeed finish, returning this output for the PA reduction from £12.5k to £10k. @jdebacker does anything look off here?
[code]

[2021-07-03 20:24] nikhilwoodruff commented on #24
Closing this because I can now solve for the steady-state, thanks Jason.

[2021-07-03 20:24] #24 closed

[2021-07-03 21:34] jdebacker commented on #24
LGTM - glad you got it to solve!

[2021-07-04 16:23] nikhilwoodruff opened #26 "Can't find the steady-state with DEP tax function"
@jdebacker @jpycroft @rickecon @MaxGhenis

Hi all,

So far I can run the entire model on a reform, but the default tax function estimation is `linear`. I'm guessing this is probably not ideal, but when I've changed it to DEP, the solver can't find the steady-state, even varying the initial guess for `r` (I've tried 0.02, 0.04, 0.05, and 0.09). Is wondered whether this is just inevitable with the i

[2021-07-05 15:26] jdebacker commented on #26
@nikhilwoodruff I had the same issue.  I think what one needs to do is estimate the tax functions and plot them to see how they look. I would be best to start simple - e.g., with GS functions before DEP functions, with non-age-specific before age-specific.  I have not done this yet.

[2021-07-05 15:27] jdebacker commented on #20
This is handled in PR #23

[2021-07-05 16:31] MaxGhenis commented on #26
@jdebacker @rickecon could you share code for plotting tax functions? e.g. from [pslmodels.github.io/OG-USA/content/calibration/tax_functions](https://pslmodels.github.io/OG-USA/content/calibration/tax_functions.html):
![image](https://user-images.githubusercontent.com/6076111/124499951-b99d3f80-dd73-11eb-8e6a-60a329e04664.png)

[2021-07-05 20:56] jdebacker commented on #26
@nikhilwoodruff I like the 2D plots are you reference.  I'd recommend using the [`ogusa.parameter_plots.plot_2D_taxfunc()` function](https://github.com/PSLmodels/OG-USA/blob/77e18216ba1e53fe55c87241f5d943f957dad81a/ogusa/parameter_plots.py#L871) to help with this.  There's the option to plot with or without the micro data.

Here's an example plotting non-age-specific DEP functions:
[code]

3D plot

[2021-07-06 09:20] nikhilwoodruff commented on #21
Thanks for the tips @jdebacker , so here's what I've done:
- hard pins relaxed in openfisca-uk - moved all from == to >=.
- openfisca-uk is now on PyPI (`pip install openfisca-uk` should work if microdf/family-resources-survey/survey-personal-incomes is installed (PyPI doesn't allow direct github install requirements). Not sure if it'll do anything, but worth a try. Also might speed up, on your se

[2021-07-14 01:06] jdebacker commented on #26
Here's updated code that I ran from my OG-UK directory (had a typo above):

[code]

And the resulting plot:
![plot](https://user-images.githubusercontent.com/10715924/125544535-4132d107-4395-4efa-91f6-fb620a9a887d.png)

Kind of an odd pattern in the raw data (the blue dots), but this was with the toy dataset. Haven't run with the full FRS yet.  If you have, I'd love to see what it looks like.

cc

[2021-07-16 18:52] nikhilwoodruff commented on #26
Thanks for this @jdebacker - I'm running into some difficulties getting the plot to work, but in the meantime in case it's useful, here's what the ETR by market income scatter plot looks like (which should form the backdrop to that first chart type for the UK, and I used the outputs of `get_calculator_output`):
![image](https://user-images.githubusercontent.com/35577657/125995430-41ed9c71-65f8-4a9

[2021-07-16 19:08] nikhilwoodruff commented on #26
Also tried to reproduce the microdata side of that 3d plot:
![image](https://user-images.githubusercontent.com/35577657/125997004-71921505-14b3-4fb8-a36e-29b4e10fb693.png)
![image](https://user-images.githubusercontent.com/35577657/125997049-a12b1053-d957-4023-8e05-00c702a4e2d6.png)
![image](https://user-images.githubusercontent.com/35577657/125997072-57f78390-ab92-467b-9fcd-bc796960f1fe.png)
![im

[2021-07-16 20:14] jdebacker commented on #26
@nikhilwoodruff Those ETRs look a lot better!

Let me know if I can help with your issues getting the tax functions to plot.  Can get on a Zoom if helpful.

[2021-07-19 14:43] nikhilwoodruff commented on #26
Sorry I've just seen this @jdebacker - here's my recent progress ahead of our meeting later:
- I got your plot function to work with the microdata:
  - Labour income:

![image](https://user-images.githubusercontent.com/35577657/126178327-14dd3131-cffe-4188-82bc-a1a965fa32e6.png)
Again, seems like it's not a great fit, will try with the DEP function
  - Capital income
  -
![image](https://user-imag

[2021-07-19 14:44] nikhilwoodruff commented on #26
This one is the Labour MTR - looks about right? (to clarify, the microdata points rather than the linear tax function)

![image](https://user-images.githubusercontent.com/35577657/126178900-2ee05943-f8f8-4ca7-bc16-694543f21e23.png)

[2021-07-19 14:48] nikhilwoodruff commented on #26
And the capital MTR one:
![image](https://user-images.githubusercontent.com/35577657/126179503-b437b7ca-61a8-4e2a-9395-2e505dc03ed3.png)

[2021-07-19 14:55] jdebacker commented on #26
@nikhilwoodruff The micro data is looking excellent.  It looks like you are plotting linear tax functions.  It seems like DEP *should* be able to fit these data reasonably well, but wow, those negative ETRs are huge, so that could be tricky (if not to fit the functions, then to solve the model -- will want to set `alpha_T` to the appropriate value given the amount of total transfer payments that a

[2021-07-22 21:21] rickecon commented on #21
I just updated my fork of OG-UK yesterday, deleted my old `oguk-calibrate-dev` environment, and installed it again. The pip install of OpenFisca-Core failed. Below is the error message. This is probably just an issue with what versions are pinned in the current `environment.yml`.
[code]
@nikhilwoodruff @MaxGhenis @jdebacker

[2021-07-22 21:25] nikhilwoodruff commented on #21
Ok, so this is I actually understand. What you'll need to do is remove the git dependency on my fork of openfisca core in the environment yaml file (the nikhilwoodruff/frs dependency is also unnecessary. Hopefully that works @rickecon

Also, by the way the environment yaml file on my fork of OG-UK has the changes I made to get it working for me.

[2021-09-02 01:28] jdebacker commented on #8
Since code coverage is now reporting, I'm closing this issue.

[2021-09-02 01:28] #8 closed

[2021-09-03 15:32] #20 closed

[2021-09-03 16:06] rickecon opened #28 "Conda environment fails to create"
In the new repo with its dependencies on `OG-Core` and `OpenFisca-UK`, I cannot get the conda environment to create. The conda [`environment.yml`](https://github.com/PSLmodels/OG-UK/blob/main/environment.yml) file has two `pip` imports that are likely causing the problem.
[code]
My `conda env create -f environment.yml` command ran for 30 minutes in my terminal, then errored out with the following

[2021-09-03 16:55] rickecon commented on #28
I commented out the `- git+https://github.com/PSLmodels/openfisca-uk` [line in `environment.py`](https://github.com/PSLmodels/OG-UK/blob/main/environment.yml#L22), cleared any old `oguk-dev` conda environment material, and created the new `oguk-dev` environment. Everything went well and smoothly, although it took 26 minutes (2 minutes for the initial environment dependencies and 24 minutes for the

[2021-09-03 17:09] jdebacker commented on #28
@rickecon Thanks for this detailed report and for drilling down on the source of the errors.

I'm getting the same errors your report when I try to create the environment on my machine (running Mac OS 11.5.2).  Note that in PR #22, the GH Actions were able to build the environment without problem on Linux and Windows.

[2021-09-03 17:14] rickecon commented on #28
1. We need to find out why this is not working on Mac OSX.
2. We need to confirm that the environment can build on a Windows and/or Linux machine (e.g., like @jpycroft's or @nikhilwoodruff's)
3. Should we add OSX to the `matrix.os` in the OG-UK GH Action?

@jdebacker

[2021-09-03 17:21] nikhilwoodruff commented on #28
@rickecon I should be able to test this later, but at first glance it looks like the (or at least one) issue is that the Python version is 3.9 - currently we're only building OpenFisca-UK on 3.7.7, so might need to add a <= condition in the version requirement?

[2021-09-03 17:22] jdebacker commented on #28
@rickecon asks:

Unfortunately, adding OS X to the testing matrix isn't straight-forward (see [this Tax-Calculator PR](https://github.com/PSLmodels/Tax-Calculator/pull/2567) for discussion and links to more info).

[2021-09-03 20:29] jdebacker commented on #28
Per @nikhilwoodruff's suggestion, I set `python<=3.7.11` and my environment built and I can create the `oguk` package and run the model.

[2021-09-04 18:22] jdebacker commented on #28
@rickecon Can you try again using the `main` branch now that I've merged PR #29?

[2021-09-04 18:24] jdebacker opened #30 "Allow for multiple budget years"
I still don't understand OpenFisca-UK very well, but *I think* it can simulate policy for more than just one year.

If this is true, we should update `get_micro_data.py` to iterate over the years in the budget window (ideally, from `start_year` to the maximum year allowed by OpenFisca-UK.

[2021-09-08 16:42] jpycroft commented on #28
@jdebacker @rickecon @nikhilwoodruff

Hi Jason,

I’ve been trying out the new oguk-dev environment and (drum roll please … ) it installs! The conda activate oguk-dev worked fine. And no errors with the “pip install -e .” I've attached the conda output below.

Then I thought I’d try to run the example “python run_oguk.py” in the “examples/” folder. This generated over 5000 lines of errors. Many err

[2021-09-08 16:49] jdebacker commented on #28
@jpycroft Thank you for the report!

I'll close this issue (since you were able install the environment).  And I'll take a look at the tracebacks from your trying to run the example.   I'll also open up an issue to discuss that.

[2021-09-08 16:49] #28 closed

[2021-09-08 16:50] jdebacker opened #31 "Error running the example script"
@jpycroft reports:

See Issue #28 for the above referenced txt files.

[2021-09-08 20:42] jdebacker commented on #31
The matplotlib lines are warnings, I believe.  It maybe that the [OG-Core style file](https://github.com/PSLmodels/OG-Core/blob/master/ogcore/OGcorePlots.mplstyle) needs updating, or it could be an issue with trying to import this file from a URL as is done in both OG-USA and OG-UK (see [here](https://github.com/PSLmodels/OG-UK/blob/bc351856e18ddbd7f6210331bf8243d7e13e117b/oguk/calibrate.py#L9)).

[2021-09-08 22:34] jdebacker commented on #31
@jpycroft I was able to generate this same error.  I had thought I ran this example before, but not sure.

PR #27 maybe helpful here (though it needs to be updated with the master).

Also, it would be good to learn more about OpenFisca-UK.  I'm still not totally sure how to do many things with the model and don't fully understand how the data is loaded and hierarchical data structures handled. It

[2021-09-27 15:45] nikhilwoodruff commented on #21
@jpycroft, and everyone else with openfisca-uk install issues: I've just managed to get openfisca-uk installable from PyPI. That is, I can do the following:
[code]

Does that work for you?

[2021-09-27 17:17] jpycroft commented on #21
Hi @nikhilwoodruff,
(cc @jdebacker, @rickecon)

This works great! The punchline is:

`In [3]: sim.calc("tax").sum()
Out[3]: 257881576145.19547`

which I assume is the total taxes paid & collected. It seems to be working great!

full conda output attached.

[OpenFiscaUK_test_output_27sep2021.txt](https://github.com/PSLmodels/OG-UK/files/7238136/OpenFiscaUK_test_output_27sep2021.txt)

[2021-10-11 17:29] jpycroft commented on #31
@jdebacker @nikhilwoodruff @rickecon

Continuing to try to understand why I getting the litany of errors with run_oguk.py.

I realise now that I'm not even getting past the import commands at the beginning of file. If I run to here:

[code]
I already get a load of errors: see attached "run_oguk_stop_after_importCalibrate_11oct2021.txt"

Going to the next import command, and commenting out the prev

[2021-10-12 02:07] jdebacker commented on #31
@jpycroft All those were warnings.  Your set of commands did execute (see the `stop after ogcore - output plots; Calibration off` printed at the end).

But those messages are annoying.  I just merged a PR to OG-Core and a PR to OG-UK that *should* fix this (they completely remove any imports of matplotlib style files from scripts used in the two packages).   Install new versions of each and try th

[2021-10-12 07:52] jpycroft commented on #31
Thanks @jdebacker!

I updated my branch. It hard to tell if there are fewer warnings. There are certainly still many (attached).

In any case, if it's only warnings, then perhaps the only important part of the output is the last lines:

[code]
I'll have a look at this later on.

[run_oguk_after-poss-removing-some-warnings_12oct2021.txt](https://github.com/PSLmodels/OG-UK/files/7327940/run_oguk_aft

[2021-10-12 10:22] jdebacker commented on #31
@jpycroft Did you reinstall the `ogcore` package?  Did you rebuild the `oguk` package after updating your branch from the upstream `main` branch?

[2021-10-13 10:16] jpycroft commented on #31
@jdebacker Thanks again!

I hadn't updated my OG-Core. I updated that and tried to install its environment. This only partially worked, ending with the following error message (full output attached):
[code]

In any case, I updated OG-UK again and updated the environment (oguk-dev). Trying to run "run_oguk.py" still results in the litany of warnings as before, culminating in the same error as above

[2021-10-13 13:21] nikhilwoodruff commented on #31
Great to see it (at least partially) working @jpycroft - this one I can answer: I while ago I wrote this format for `run_oguk.py` to take as argument a reform object in a Python file - it should work with `python run_oguk.py small_ubi_reform.ubi_reform` (pointing to the `ubi_reform` object in `small_ubi_reform.py`). I can take it out if it's causing inconvenience.

[2021-10-13 13:44] jdebacker commented on #31
@jpycroft, Nikhil pointed out the issue with your attempted run of the example script.

I think the matplotllib warnings are still there because OG-Core was not updated because your env failed to updated.

I'd remove the environment with: `conda remove --name oguk-dev --all`

Then create it anew with `conda env create`

[2021-10-13 13:45] jdebacker commented on #31
@rickecon because he may have seen the same sphinx install error that Pycroft is seeing recently.  Suggests perhaps removing those dependencies that just help with documentation.

[2021-10-23 14:31] jpycroft commented on #31
Thanks for the ideas @nikhilwoodruff @jdebacker.

Running the `python run_oguk.py small_ubi_reform.ubi_reform` (having reinstalled the environment) I get the same litany of errors, but now I'm ending on the person_id error:

`KeyError: "Unable to open object (object 'person_id' doesn't exist)"
`

Output attached.
Best, Jon

[run_oguk_small_ubi_reform_23oct2021.txt](https://github.com/PSLmodels/OG-

[2021-11-11 11:51] jpycroft commented on #31
@rickecon, @jdebacker, @nikhilwoodruff,

Exciting news: I’m getting different error messages :-) Seriously, that is exciting!

Having updated to the latest environment.yml and doing “conda update conda”, the litany of hundreds of error messages is gone. I’ve worked my way through a number of error messages and seem now to be stuck on accessing the synthetic data set for OpenFiscaUK.

I’ll follow t

[2021-11-11 11:57] nikhilwoodruff commented on #31
Amazing - admittedly it's been a while since I last used the synthetic dataset, happy to debug anything else you get. Or, I don't suppose you can get access directly to the FRS by any means?

[2021-11-11 12:12] jpycroft commented on #31
Hi @nikhilwoodruff,
Yes, going for the full FRS might be the best solution.
I'll look into how to download. It seems that I'll need to agree to an End User Licence first ...

[2021-11-11 13:40] jpycroft commented on #31
With reference to the thread above, https://github.com/PSLmodels/OG-UK/issues/31#issuecomment-966240083
I'm trying to run: python run_og_uk.py

Adjustments I’ve already made to get past errors:

1. change line in run_og_uk.py:
from og_uk_calibrate.calibrate import Calibration
--> from oguk.calibrate import Calibration

2. Copy two files into the OG-UK folder:
a. ogusa
b. taxcalc (`pip install taxc

[2021-11-11 13:54] jpycroft commented on #31
With reference to the thread above, https://github.com/PSLmodels/OG-UK/issues/31#issuecomment-966240083 & https://github.com/PSLmodels/OG-UK/issues/31#issuecomment-966310828
I'm trying to run: python run_og_uk.py

Notes on error messages regarding the default / synthetic data set:

1. Error when running OG-UK:
`FileNotFoundError: [Errno 2] Unable to open file (unable to open file: name = 'C:\Users

[2021-11-11 15:11] nikhilwoodruff commented on #31
@jpycroft the full FRS would be ideal - good luck - but I wonder if the synthetic dataset works if you do this?
[code]

[2021-11-11 16:48] jpycroft commented on #31
Hi @nikhilwoodruff,
Thanks for the idea. When I do the `openfisca-uk-setup --set-default synth_frs` command, I get a different error, and I get it one command earlier in response to `from openfisca_uk import Microsimulation`: basically it complains that `ModuleNotFoundError: No module named 'family_resources_survey'`
Here's how I entered it, and the output below.
Best, Jon

[code]

[2021-11-11 16:48] jdebacker commented on #31
@jpycroft writes:

and then lists a bunch of changes he's made to source files to get things to work on his branch.  But all of these changes are not relevant for the current versions of the sources files in the `main` branch.

@jpycroft I would suggest that you sync the branch you are working on with the `upstream/main`.

[2021-11-11 16:51] nikhilwoodruff commented on #31
Thanks @jpycroft and @jdebacker - yes that's right. The code there is several months out of date. I think you shouldn't even need the repo cloned, but if you want to keep it, I'd suggest deleting it and reinstalling it.

[2021-11-11 16:56] jdebacker commented on #31
Also, when adding packages dependencies (like `taxcalc` or `ogusa` (neither of which should be necessary for OG-UK) or `openfisca_uk`), it would be best to install those as packages (via pip or conda-forge).  Second best (or if you need to modify those packages) is to build the package on your machine via the source code (just be sure it's at the state you want it to be at).

The option you should

[2021-11-11 17:48] jpycroft commented on #31
Hi @jdebacker, @nikhilwoodruff,

Let me first say about the sync-ing. Doing a upstream/main sync was the first thing I did. I assumed that was why I get different results than before. I was doing this:
[code]
OK, maybe this is the problem:
[code]
My upstream was still linked to the OG-UK-Calibration. Was that it? (If so, I still find that confusing for other reasons.) In any case, I'll do a delete

[2021-11-11 17:55] jdebacker commented on #31
@jpycroft Ah yes - the repo name change.  That could be it.  You'll want to reconfigure your remote URLs.  Do that with a:

`git remote set-url upstream https://github.com/PSLmodels/OG-UK.git`

and, since your fork has this name also:

`git remote set-url origin https://github.com/jpycroft/OG-UK.git`

[2021-11-11 18:05] jpycroft commented on #31
@jdebacker @nikhilwoodruff

Thanks also for highlighting the conda-forge solution. I'll remember that if needed in future. (I should have clarified perhaps, the copying across was only ever intended as a stop gap to try and get moving at all.) Perhaps with the right version, it won't be required here.

[2021-11-11 19:08] nikhilwoodruff commented on #31
Sounds good - though I did think that GitHub redirects name changes, so that actually probably should've worked. But not really a problem anymore

[2021-11-12 10:56] jpycroft commented on #31
@jdebacker @nikhilwoodruff

I removed and re-cloned OG-UK. I also removed and reinstalled the environment again. Now everything seems to be properly up-to-date.

The error I'm hitting now is that I'm missing the 'reform' argument:

[code]
The reform ought to be taken from reform=get_default_reform(), which is a simple UBI reform. It's not clear to me why this isn't being picked up.
Also I'm not cl

[2021-11-12 11:59] nikhilwoodruff commented on #31
OK, so that line essentially takes the argument, e.g. `small_ubi_reform.ubi_reform`, separates it into the module path (`small_ubi_reform`) and object name `ubi_reform`, and imports `ubi_reform` from its declaration in `small_ubi_reform.py`.

I wonder if either of the following works:
* `main(reform) -> main()` on line 228 - er, actually [this](https://github.com/PSLmodels/OG-UK/blob/main/examples

[2021-11-15 09:58] jpycroft commented on #31
Hi @nikhilwoodruff,

Thanks for the suggestions and clarification.

Switching from `main(reform) -> main()`, it still wants a reform:
(btw, I'd added a print above, which explains the line change.)
[code]
With `main()` or `main(reform)`, I get this output running with `small_ubi_reform.ubi_reform`:
[code]
So, it appears to be recognising the reform. It states that it's going to use the synthetic d

[2021-11-28 14:02] nikhilwoodruff opened #33 "Highly negative MTRs"
Getting back into debugging OG-UK after a while, I noticed that the function generating employment income MTRs for households on the FRS data produces 39 households with extremely negative MTRs. After some investigation, this is because of the childcare element of Universal Credit - all adults in the family must be in work. Increasing the earnings of every adult by £1 satisfies this formula, so ho

[2021-11-29 11:05] nikhilwoodruff opened #34 "Possible 25x speedup in steady-state `inner_loop` function"
I've found that eliminating `dask` multiprocessing can speed up the `inner_loop` function's main loop by around 25x (each iteration: ~0.75x without dask, ~20s with dask on my machine), probably due to high startup times. This might not apply to every machine.

Now, I can fail to find the steady-state 25x faster! :smile:

@rickecon @jdebacker @jpycroft @MaxGhenis

[2021-11-30 16:09] nikhilwoodruff commented on #33
#35 clips the MTRs in (0, 1), so closing.

[2021-11-30 16:09] #33 closed

[2021-11-30 17:16] MattHJensen commented on #33
Hi Nikhil, fwiw, it's common for us to see tax rates outside of this range in USA tax policy, especially when you begin combining central and sub-central tax and benefit systems, but also just in federal individual income taxes alone.

[2021-11-30 17:21] MaxGhenis commented on #33
Should we be clipping MTRs? These are legitimate incentives.

[2021-11-30 19:35] nikhilwoodruff commented on #33
Thanks- my only concern is for the cliffs, and how dependent they are on the (somewhat arbitrarily defined) step size of the MTR calculation?

[2021-11-30 20:01] MattHJensen commented on #33
If you calculate the mtr with a penny up and a penny down, and then use the smaller (by absolute value), do the crazy ones go away? Dan Feenberg has other suggestions like that here: https://github.com/PSLmodels/Tax-Calculator/issues/2580#issuecomment-810548544

[2021-12-20 00:27] akulpillai opened #37 "[Security] Workflow check_black.yml is using vulnerable action actions/checkout"
The workflow check_black.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fi

[2021-12-20 17:18] #37 closed

[2021-12-21 13:58] nikhilwoodruff commented on #26
@jdebacker thanks for the ideas from our meeting yesterday- I just tried removing the guess overrides and also the OG-UK default parameters from the parametrization, and the steady-state solved. Will update when the TPI finishes to see what it looks like.

[2021-12-21 18:54] nikhilwoodruff commented on #26
OK, so here's the results of OG-UK without `default_og_uk_parameters.json` but with the tax estimation (DEP), on a reform that increases the basic rate of income tax from 20% to 30%:
|      |Variable                  |2018                |2019                |2020               |2021               |2022               |2023               |2024               |2025                |2026

[2021-12-21 18:56] nikhilwoodruff commented on #26
Here are the plots (some look a bit weird to me, but I don't fully understand everything here):
[plots.zip](https://github.com/PSLmodels/OG-UK/files/7757400/plots.zip)

[2021-12-21 18:57] nikhilwoodruff commented on #26
And finally, here's the [full output](https://gist.github.com/nikhilwoodruff/32dace30c698bd5105a563ce75c3b073)

[2021-12-22 15:11] jdebacker commented on #26
@nikhilwoodruff That's great - thanks for testing this and sharing the update.

[2021-12-22 16:23] jdebacker commented on #26
@nikhilwoodruff I was trying to replicate what you did and was having some issue.  I removed and reinstalled the environment.  Now I'm getting the following error (which I noticed on a recent PR by @MaxGhenis):

[code]

This looks related to the OpenFisca-UK data -- can you advise on the work around?

[2022-01-23 22:51] nikhilwoodruff opened #40 "GH actions issues"
I noticed that:
* The current push action includes a version check, which will always fail (only PRs should have their version checked)
* Because the documentation deployment action checks the name against the old name ("OG-UK-Calibration"), docs haven't been updated recently.

[2022-01-23 23:22] nikhilwoodruff commented on #40
Also:

### Added

* Better handling and logging to the user of the status of microdata.

[2022-01-23 23:26] nikhilwoodruff opened #42 "Very long matplotlib warning on run of example script"
When I run `run_og_uk.py`, I get a huge warning:
[code]

I've tried the fixes on [StackOverflow](https://stackoverflow.com/questions/53804577/matplotlibrc-needs-to-be-updated) but nothing seems to get rid of it.

[2022-01-23 23:56] nikhilwoodruff opened #43 "Solving the steady-state"
Filing this to keep track of my attempts to move the best working parametrisation of OG-UK from the default OG-Core model, to the full UK model with fitted tax functions.

Version: 0.0.1

- [x] Default OG-Core model (solves)
- [x] As above, DEP, not age-specific, start year = 2019 (solves)
- [x] As above, plus `oguk_default_parameters.json` (solves)
- [x] As above, with OpenFisca-UK linear tax fun

[2022-01-24 18:37] #40 closed

[2022-01-25 20:46] jdebacker commented on #43
@nikhilwoodruff for a middle ground, I'd recommend fitting the linear tax rates first (before the GS or DEP functions that allow for progressive rates).

[2022-01-29 15:42] nikhilwoodruff commented on #43
Thanks @jdebacker - updated with the success! I'll see how the TPI looks.

[2022-01-29 15:46] nikhilwoodruff opened #44 "Documentation of OpenFisca-UK describes Tax-Calculator"
Just noticed at [the JB documentation](https://pslmodels.github.io/OG-UK/content/calibration/tax_functions.html) - I'll update when I have a second.

[2022-01-29 16:07] nikhilwoodruff commented on #43
OK, some results and a few questions:
1. Here's what I get when just running SS functions, for the default reform which raises the basic rate of income tax from 20% to 30%. How does this compare with what we'd expect?

| Variable                       |   Baseline |    Reform |   % Change (or pp diff) |
|:-------------------------------|-----------:|----------:|------------------------:|
| GDP ($\

[2022-02-10 15:47] martinholmer commented on #44
@nikhilwoodruff,  when you get around to fixing the documentation problem you mentioned in issue #44, you might also want to clarify the following documentation puzzles:

(1) In the following, there is no link to the `OG-MOD` project.  What is that?

<img width="1453" alt="Screen Shot 2022-02-10 at 10 24 43 AM" src="https://user-images.githubusercontent.com/12170745/153440649-d22199db-eb8b-45a9-96

[2022-04-11 07:31] jpycroft commented on #31
Hi @nikhilwoodruff,

Back to trying to get the model running with FRS. Finally got round to trying this out over the weekend.

First, OG-UK does begin to run with synthetic data. To run with FRS, you mentioned to
i. pip install openfisca-uk - worked fine for me - then
ii. run openfisca-uk

I'm not clear which command to use to get openfisca-uk to run. I first tried the command suggested by OG-UK:

[2022-04-11 11:18] nikhilwoodruff commented on #31
Thanks @jpycroft - good to know the synth FRS runs. That gcloud error looks strange - I should be able to have a proper look today before the OG meeting, but looks like it's been [found by others too](https://stackoverflow.com/questions/64095597/google-cloud-datastore-authentication-on-windows-10).

[2022-04-11 16:13] nikhilwoodruff commented on #31
As per that issue could you try running `gcloud auth application-default login`?

[2022-04-12 06:33] jpycroft commented on #31
Hi @nikhilwoodruff,

Thanks for the idea! I get this:
[code]
Translation: "gcloud is not recognised as an internal or external command, executable programme or batch file."

I pip installed gcloud and then google-cloud (though the pypi docs say that neither is currently maintained).
In any case, the error message stays the same.

[2022-04-14 14:16] jpycroft commented on #31
Hi @nikhilwoodruff,

Thanks for adding this change: https://github.com/PolicyEngine/openfisca-tools/blob/master/setup.py

I did a "pip install openfisca-uk" should update my version to try to incorporate it. Unfortunately, I'm still getting the same output. Is there something else I need to run first?

[code]

[2022-04-14 14:28] nikhilwoodruff commented on #31
Ah thanks @jpycroft - sorry, could you try `pip install --upgrade openfisca-uk` now? I've added google-cloud-storage as a dependency, so it should get installed (might be worth running `pip install google-cloud-storage` after, just to be sure, but this should happen automatically).

One of the differences between my local setup and yours is that I have the gcloud CLI installed. But I'm aiming for

[2022-04-14 14:50] jpycroft commented on #31
Hi @nikhilwoodruff,

I get a different output now, which is surely progress!

I entered:
1. pip install --upgrade openfisca-uk
2. pip install google-cloud-storage (though everything was "Requirement already satisfied" as you thought it would be.)

Then `openfisca-uk-data frs_enhanced download 2019` gives this:
[code]

[2022-04-14 17:44] nikhilwoodruff commented on #31
Great stuff @jpycroft - the good news is that I know exactly what this is, and I think it should be fixed now if you update OpenFisca-UK (for context, this issue was caused by me naively removing MANIFEST.in from the repo without realising what it did: https://github.com/PolicyEngine/openfisca-uk/pull/574).

[2022-04-15 13:15] jpycroft commented on #31
Thanks again @nikhilwoodruff!

I redid the `pip install --upgrade openfisca-uk`. (I think) everything was "Requirement already satisfied" except for:
[code]
Then the same command as before (I think) still gives the same output. Any other ideas?
[code]

[2022-04-22 21:08] rickecon opened #46 "Something is broken in download option in eurostat package"
@jpycroft @nikhilwoodruff. I posted this issue in the [Bitbucket repository for the eurostat package](https://bitbucket.org/noemicazzaniga/eurostat/issues/15/server-error-500-downloading-uk-population). I have been working on @jpycroft's `demographics.py` PR #36 (my branch is [here](https://github.com/rickecon/OG-UK/tree/jpycroft-demog_uk), which I will submit as a PR to @jpycroft's [PR branch](ht

[2022-04-23 14:29] jpycroft commented on #46
Hi @rickecon,
I get the same as you.
Running the snippet of code, I got the `DSD_demo_pjan not found` error (full output below).
The same error for demo_fasec:
`Server Error 500: DSD_demo_fasec not found in the Eurostat server`

[code]

[2022-04-24 07:35] rickecon commented on #46
@jpycroft @nikhilwoodruff. It is working now. Must have been the EuroStat REST API was down. Closing this issue.

[2022-04-24 07:35] #46 closed

[2022-04-24 20:19] nikhilwoodruff commented on #31
Sorry for my delay in getting back to this @jpycroft! Maybe we can debug it a bit at the meeting tomorrow? One thought: running the `--upgrade` flag should result in some message at the end saying "uninstalling openfisca-uk... installed openfisca-uk", did this appear?

[2022-04-25 10:10] jpycroft commented on #31
Hi @nikhilwoodruff,

Thanks again. The command `(oguk-dev) C:\Users\jonat\repos>pip install --upgrade openfisca-uk` gave a long list of "Requirement already satisfied" and ended with this:
[code]
So yes, it does give the "uninstalling openfisca-uk... installed openfisca-uk" message.

[2022-04-26 10:29] jpycroft commented on #31
Hi @nikhilwoodruff,

Actually, it's a bit disappointing ... it didn't quite solve the issue. Here's what happened.

First, pip installing openfisca-uk within the newly created "openfisca-uk" environment (with Python 3.7.13) did eventually work. Output attached as txt.
[pip install openfisca-uk_25apr2022.txt](https://github.com/PSLmodels/OG-UK/files/8562234/pip.install.openfisca-uk_25apr2022.txt)

[2022-04-26 12:09] nikhilwoodruff commented on #31
Ah, well thanks for getting through the installation: I think it's still a step in the right direction. The error makes sense to me: it's because the `gcloud` CLI is not installed. I've tried to avoid it by trying to find ways to not require its installation, but at this point it seems inevitable unfortunately. So, could you please [install the tool](https://cloud.google.com/sdk/docs/install#windo

[2022-04-30 08:46] rickecon commented on #44
Thanks @nikhilwoodruff and @martinholmer for noting these problems in the `OG-UK` documentation. These issues are mostly resolved in PR #48, which will probably be merged soon.

[2022-07-18 16:17] nikhilwoodruff commented on #42
I don't get this anymore.

[2022-07-18 16:22] nikhilwoodruff commented on #30
Since this was filed, OpenFisca-UK can now simulate 2022-27 policy changes.

[2022-07-25 12:20] nikhilwoodruff commented on #43
Now runs without issue after #50.

[2022-07-25 12:20] #43 closed

[2022-07-25 12:21] #44 closed

[2022-07-27 12:41] nikhilwoodruff opened #52 "UK proposed corporate tax reform results"
One of the proposals from a few of the leadership candidates earlier this month was to set the UK corporate income tax rate at 15% (it's currently 19% and set to rise to 25% in 2023).

I just tried running this through OG-UK and got the following result (percent formatted).

| Variable                   | 2022   | 2023   | 2024   | 2025   | 2026   | 2027   | 2028   | 2029   | 2030   | 2031   | 202

[2022-10-24 16:20] nikhilwoodruff opened #54 "Update OpenFisca-UK to PolicyEngine-UK"
The latter is the new version of OpenFisca-UK, moving to PolicyEngine Core. This allows Python 3.9 as a dependency.